@model raven.eqdb.web.ViewModels.Home.HomeIndexViewModel

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Raven - Equine Genetics Database</title>
</head>
<body>
    <div> 
        <p>Raven - Equine Genetics Database</p>
    </div>
</body>
</html>
